.scene{
  width: 250px;
  height: 180px;
  //perspective: 100px;
  perspective: 700px;
  transform-style: preserve-3d;
  &:hover, &.is-open{
    .card{
      transform: rotateX(-180deg);

    }
  }
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  //transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}


.card-front{
  position: absolute;

  height: 100%;
  width: 100%;
  background-image: url("../../img/cardFront.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.65;

  //transform: rotate(10deg);
  //transition: 0.5s;
}
.card-back{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 20px ;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  backface-visibility: hidden;
  transform: rotateX(180deg);
  //transition: .5s;
  color: #000000;
  text-align: center;
  border-radius: 10px;
  opacity: 0.79;

}
.card-back-header {
  font-size: 20px;
  margin: 0 0 10px ;

}
.card-back-text{
  font-size: 12px;
  margin: 0;
  line-height: 1.2 ;

}

